<!DOCTYPE html>
<html>
<head>
<title>Home</title>
<style>
body
{
    background-image: url("https://images.pexels.com/photos/261434/pexels-photo-261434.jpeg?cs=srgb&dl=pexels-pixabay-261434.jpg&fm=jpg");
    background-size: cover;
}
.pd{
padding-bottom:45%;}
}
</style>
</head>
<body>

<br>
<center><b class="pd"><font color="black" size="15" font-family="Comic Sans MS" >Masterful Machines: Precise Coffee Quality</font></b></center><br><br>
<div>
<br>
<center>
<h2><font color="black" >The Precise Coffee quality is </h2>
<h2><font color="black"> {{result}} </h2>  
</center>
</div>
</body>
</html>